name: Android CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - '**'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Run tests
        run: |
          ./gradlew clean check detekt

      - name: UI Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          profile: pixel
          arch: x86_64
          disable-animations: true
          script: ./gradlew connectedDebugAndroidTest
