name: Android CI

permissions:
  contents: read
  actions: read

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - '**'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_PR_NUM: ${{ github.event.pull_request.number }}

jobs:

  build-and-test:
    name: Build and Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: ./.github/actions/setup-java

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Run unit tests and code quality checks
        run: |
          ./gradlew clean :app:koverXmlReportDebug detekt --info

      - name: Send report to sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          ./gradlew sonar

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-reports
          path: |
            app/build/reports/
            build/reports/

  ui-tests:
    name: UI Tests
    runs-on: ubuntu-latest
    needs: build-and-test
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: ./.github/actions/setup-java

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Run UI Tests
        run: |
          ./gradlew pixelDebugAndroidTest

      - name: Upload UI test reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ui-test-reports
          path: |
            app/build/reports/androidTests/
            app/build/outputs/androidTest-results/
